@charset "UTF-8";

a:link {
	color: #aaf;
}

a:hover {
	color: #fff;
}

a:visited {
	color: #aaa;
}

a:active {
	color: #ff0;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 854px;
	color: blue;
	background-color: #222;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

body, html {
	border: none;
	margin: 0;
	padding: 0;
	background-color: #222;
	color: #e0d0d0;
	background-image:url('img/4txtTemplate.png');
	font-weight: normal;
	font-family: sans-serif;
    height:100%;	
}

#toppanel {
	height: 48px;
	background-color: #555;
	background-image:url('img/1txtPlaceholder.png');
	border-bottom: 3px solid #000;	
}

#toppanel #prepurchasesplash {
	position: absolute;
	top: 18px;
	left: 66px;
}

#toppanel #logo {
	float: left;
	border: 0px; 
}

.left {
	float: left;
}

.right {
	float: right;
}

.pad {
	margin: 4px;
}

.rightgap {
	padding-right: 16px;
}
